<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0nTiRuoDBngJyb5BxobEA1xMCHom37D4</string>
	<key>GCM_SENDER_ID</key>
	<string>505893525820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easybus.line.madrid</string>
	<key>PROJECT_ID</key>
	<string>app-imediavip</string>
	<key>STORAGE_BUCKET</key>
	<string>app-imediavip.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505893525820:ios:ca32467b6db8865cf7a639</string>
</dict>
</plist>