<div id="app">
    <h2 class="title"><ui-label value="i18n:smartad.welcome"></ui-label></h2>
    <p><ui-label value="i18n:smartad.step_1"></ui-label></p>
    <p><ui-label value="i18n:smartad.step_2"></ui-label></p>
    <br />
    <a href=":;" id="help_link"><ui-label value="i18n:smartad.get_help"></ui-label></a>
    <div id="msg"></div>
    <div class="btn_group">
        <ui-button id="cancel_btn" style="background: #999;margin-right: 50px;" class="button-item"><ui-label value="i18n:smartad.cancel"></ui-label></ui-button>
        <ui-button id="pack_btn" class="button-item" style="background: #f90;"><ui-label value="i18n:smartad.pack"></ui-label></ui-button>
    </div>
</div>